@import '../3rd-party/font-awesome.min.css';
@import '../base/reset.css';

main {
    background-image: linear-gradient(to right, #e5e7f4, #bfbed3);
    padding: 20px;
}
.header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 15px;
}
.header > .logo {
    grid-area: logo;
    object-fit: contain;
    height: 50px;
}
nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.menu {
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.menu:first-of-type {
    color: #c00921;
}
.menu:hover {
    text-decoration: underline;
    color: #c00921;
    font-weight: 500;
}
.icon-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}
.icon-bar > a {
    color: #fff;
    text-decoration: none;
    justify-content: center;
    gap: 5px;
}
.section {
    display: grid;
    grid-column-start: 2;
    z-index: 1;
    margin-top: 70px;
}
.sneakers {
    height: 40%;
    z-index: 0;
}
h1 {
    font-size: 45px;
    color: #c00921;
    font-weight: 600;
}

@media (min-width: 700px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width: 800px) {
}
@media (min-width: 900px) {
}
