@import '../3rd-party/font-awesome.min.css';
@import '../base/reset.css';

main {
    background-image: linear-gradient(to right, #e5e7f4, #bfbed3);
    z-index: -1;
}
.header {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 15px;
}
.header > .logo {
    grid-area: logo;
    object-fit: contain;
    height: 50px;
}
nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.menu {
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.menu:first-of-type {
    color: #c00921;
}
.menu:hover {
    text-decoration: underline;
    color: #c00921;
    font-weight: 500;
}
.icon-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}
.icon-bar > a {
    color: #fff;
    text-decoration: none;
    justify-content: center;
    gap: 5px;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.number {
    display: flex;
    align-self: flex-end;
    font-size: 84px;
    color: #c5b8cb;
    font-weight: 600;
    line-height: 80px;
}
.sneakers {
    transform: translateY(-10%);
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: auto;
    position: static;
    padding: 10px;
}
.bubble-1 {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: none;
    background-color: #c9c5d6;
    z-index: -0;
    position: absolute;
    transform: translate(-80%, 20%);
}
.bubble-2 {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: none;
    background-color: #ececf4;
    z-index: -0;
    position: absolute;
    transform: translate(110%, 150%);
    opacity: 0.3;
}
h1 {
    font-size: 49px;
    color: #c00921;
    font-weight: 600;
    text-align: center;
    line-height: 45px;
    z-index: 10;
}
.content {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: #626e7e;
    z-index: 10;
}
.price {
    font-size: 25px;
    color: #626e7e;
    text-align: center;
    margin-top: 20px;
    z-index: 10;
}
.button {
    display: flex;
    flex-direction: row;
    border: none;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    z-index: 1;
}
.button:hover {
    border: 1px solid #000;
}
.button-title {
    padding: 10px 20px;
    background-color: #c00921;
}
.fa-long-arrow-right {
    padding: 10px;
    background-color: #000;
}
.socials-box {
    margin-top: 20px;
}
.socials {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    height: 22px;
    width: 22px;
    border: 1.5px solid #000;
    border-radius: 10px;
    text-align: center;
}
.socials:hover {
    color: #fff;
    background-color: #000;
}
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
footer > .line {
    flex-direction: column;
}
footer > div {
    color: #c00921;
    font-size: 12px;
    padding: 4px;
}
.line {
    width: 100%;
    height: 3px;
    background-color: #cbbcc3;
}
.line::before {
    content: '';
    width: 33%;
    height: 4px;
    background-color: #c00921;
    position: absolute;
}
.line:hover::before {
    left: 33%;
}

@media (min-width: 500px) {
    .number {
        margin-right: 50px;
    }
    main {
        padding: 20px;
    }
}
@media (min-width: 700px) {
    main {
        padding-left: 40px;
        padding-right: 40px;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .section {
        display: grid;
        padding-top: 40px;
        padding-left: 20px;
        align-items: left;
        grid-template-columns: 4fr 8fr 1fr;
        grid-template-areas:
            'title title number'
            'content content socials'
            'price sneakers socials'
            'button sneakers socials';
    }
    .number {
        grid-area: number;
        justify-self: end;
        margin-right: 10px;
    }
    h1 {
        grid-area: title;
        justify-self: start;
    }
    .content {
        grid-area: content;
        justify-self: start;
        text-align: left;
    }
    .price {
        grid-area: price;
        justify-self: start;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .button {
        grid-area: button;
        justify-self: start;
        font-size: 12px;
    }
    .socials-box {
        grid-area: socials;
        justify-self: end;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 25px;
    }
    .sneakers {
        grid-area: sneakers;
        padding: 0;
    }
    .bubble-1 {
        transform: translate(3%, -38%);
    }
    .bubble-2 {
        transform: translate(100%, -30%);
    }
}
@media (min-width: 800px) {
}
@media (min-width: 900px) {
}
